body {
    position: relative; 
}

#section1 p {
text-align: center;
}

#section2 p {
text-align: center;
}

#section3 p {
text-align: center;
}

#section4 p {
text-align: center;
}

#section1 {
border: 100px solid #ffffff; /* 10px thick black border */

}

#section2 {
border: 10px solid #ffffff; /* 10px thick black border */
}

#section3 {
border: 10px solid #ffffff; /* 10px thick black border */
}

#section4 {
border: 10px solid #ffffff; /* 10px thick black border */
}

h2 {
text-align: center;
}

.navbar-brand {
  margin-left: 15px; /* Adjust the value as needed */
  margin-right: 15px;
}

/*Create a Flickering Neon Effect*/
@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.8; }
  100% { opacity: 1; }
}

h2 b {
  text-shadow: 0px 0px 15px pink;
  animation: flicker 1s infinite alternate;
}

.card {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}